<h2 class="animated fadeIn fastmb-4">Acerca de <i>Cómic App</i></h2>

<div class="animated fadeIn">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime distinctio
    dicta, consequatur iste delectus alias pariatur quam numquam expedita, non
    aut facere a laudantium quaerat hic nobis enim praesentium sint. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Animi provident quo minima
    nulla iusto labore iure in ipsam veritatis, delectus illum error, nesciunt
    nisi? Est, eaque odit. Minima, voluptatum harum.
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero minus
    minima pariatur quo perferendis necessitatibus reiciendis est eveniet, fugit
    natus laudantium nostrum cum dolorum vitae? Sequi neque sapiente quos id.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aspernatur,
    voluptate quas aliquid laudantium ex consequatur. Repudiandae, quod
    recusandae aspernatur accusantium dolorem rem quia nulla mollitia ad fugit
    sunt facilis?
  </p>
</div>
